<% provide(:title, "Log in") %>
<h1>Log in</h1>
<!-- lembrar que Sessions nao eh um model, logo preciso passar a action via url -->
<div class="d-grid gap-3">
  <div class="p-4 bg-light border">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <!-- a validacao desse form foi feita no controller -->
      <div class="p-2"><%= f.label :username, class: 'form-label' %></div>
      <%= f.text_field :username, class: 'form-control' %>
      <div class="p-2"><%= f.label :password, class: 'form-label' %></div>
      <%= f.password_field :password, class: 'form-control' %>
      <div class="p-4"><%= f.submit "Log in", class: "form-control btn btn-primary btn-block" %></div>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
