<div class="container d-grid gap-2">
  <div class="">
    <%= link_to "ADD ALBUM", new_album_path, class:"btn btn-primary btn-lg"%>
  </div>
  <div class="p-2 bg-light border">
    <table class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th>Album Name</th>
          <th>Artist</th>
          <th>Year</th>
          <th>Create by</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @albums.each do |album| %>
          <tr class="text-center ">
            <td class="align-middle"><%= album.name %></td>
            <td class="align-middle"><%= album.artist %></td>
            <td class="align-middle"><%= album.year %></td>
            <td class="align-middle"><%= album.user.username %></td>
            <td>
              <% if current_user == album.user || current.user.admin?%>
                <%= link_to "Delete", album, method: :delete, class:"btn btn-danger btn-sm align-middle" ,data: { confirm: "You sure?" } %>
              <% else %>
                Can't Delete
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
