<h1>Add New Album</h1>
<div class="d-grid gap-3">
  <%= form_with(model: @album, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="p-4 bg-light border">
      <div class="p-2"><%= f.label :name, class: 'form-label' %>      </div>
      <%= f.text_field :name, class: 'form-control' %>
      <div class="p-2"><%= f.label :year, class: 'form-label' %></div>
      <%= f.text_field :year, class: 'form-control' %>
      <div class="p-2"><label for="selectbox" class='form-label'>Select an Artist </label></div>
      <%= f.select :artist, @artists, {} ,class:'form-select form-select-sm', id:'selectbox' %>
      <div class="p-4">
        <%= f.submit "Add Album", class: "form-control btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
