<header >
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to (image_tag ('moat_logo.jpg'),width:"30", height:"30"), root_path %>
        <%= link_to "Moat Music App", root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <% if logged_in? %>
              <li class="nav-item active"> <%= link_to "My Profile", user_path(current_user.id), class: "nav-link active" %></li>
              <li class="nav-item active"> <%= link_to "Albums", albums_path, class: "nav-link active" %></li>
              <li class="nav-item active"> <%= link_to "Artists", "#", class: "nav-link active" %></li>
              <li class="nav-item active"> <%= link_to "Logout", logout_path, method: :delete ,class: "nav-link active" %></li>
            <% else %>
              <li class="nav-item active"><%= link_to "Sign Up", signup_path, class: "nav-link active" %></li>
              <li class="nav-item active"><%= link_to "Log In", login_path, class: "nav-link active" %></li>
            <% end %>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
